.main-container {
    margin: 32px 64px;
}
.header {
    margin-bottom: 48px;
}
.flex {
    display: flex;
    gap: 48px;
}
.flex-justify-center {
    justify-content: center;
}
.image-title {
    margin-bottom: 8px;
}
